@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* FONTS */
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #14299f;
	--light-blue: #14299f78;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--icon:#ffffff;

	/* ---------- COLORS ---------- */
	/* LEFTSIDE COLOR */
	--leftside :#151515;
	--active :#151515;
	--sidebartxt: #151515;
	
	/* TOPSIDE COLOR */
	--topsideboard:#ffffff;
	--topside :#151515;
	--topsearchicon :#e5ff00;
	--topsearch:#151515;
	
	/* CONTENT CENTER COLOR */
	--dashcontent :#ffffff;
	--dashcontent2:#151515;
	--dashcontent3 :#ffffff;
	--dashcontent4 :#ffffff;
	--dashtext:#151515;

	/* THEME COLOR */
	--theme :#151515;
	--theme1 :#ffffff;
	--theme-sidebartxt: #151515;
	--theme-sidebartxt1: #14299f;
	--theme-sidebartxt2: #fc6db5;
	--theme-icon:#151515;
	--theme-icon1:#14299f;
	--theme-icon2:#fc6db5;

	/* DROP DOWN COLOR */
	--dropdown :#ffffff;
	--dropdown1 :#151515;

	/* SHADOW DOR DROPDOWN BOX */
	--shadbox : #201f1f2b;
	
	/* CONSOLE */
	--red: #DB504A;
	--dark-blue: #131323;

	/* ---------------------------- */
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	color:var(--dashtext);
}

h3{
	color:var(--dashtext);
}

h2{
	color:var(--dashtext);
}

p{
	color:var(--dashtext);
}

label{
	color:var(--dashtext);
}

html {
	overflow-x: hidden;
}

/*FOR DARK MORDE*/
body.dark {

	--light: #1e1e2e;
	--dark: #FBFBFB;

	/* THEME COLOR */
	--theme :#151515;
	--theme1 :#ffffff;
	--theme-sidebartxt: #ffffff;
	--theme-sidebartxt1: #ffffff;
	--theme-sidebartxt1: #ffffff;
	--theme-icon:#ffffff;
	--theme-icon1:#14299f;
	--theme-icon2:#fc6db5;

	/* TOPSIDE DARKMODE COLOR */
	--topsideboard:#1e1e2e;
	--topside :#ffffff;
	/* --topsearchicon :#a74e6b; */

	/* CONTENT CENTER COLOR */
	--dashcontent :#ffffff;
	--dashcontent2: #ffffff;
	--dashcontent3 :#0f0f10;
	--dashcontent4 :#ffffff;
	--dashtext:#151515;

	/* CONTENT CENTER TITLE */
	--dashtext:#ffffff;

	/* LEFTSIDE ACITIVE COLOR */
	--active :#ffffffba;
	--grey: #12141a;
	--shadbox :rgba(0, 0, 0, 0.101);

	/* DROPDOWN COLOR */
	--dropdown:#1e1e2e;

}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* ********************* SCROLL BAR ********************* */

/* Style the scrollbar */
::-webkit-scrollbar {
	width:  10px; /* Width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
	background: var(--grey); /* Color of the track */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
	background: var(--leftside); /* Color of the thumb */
	border-radius:5px;
}

::-webkit-scrollbar-thumb:hover {
	filter:brightness(180%) !important;
}

/* ********************* LEFT SIDE ********************** */
/* sidebar category box and position */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background:var(--leftside);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}

/* Logo and Brand Name */
#sidebar .brand {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	box-sizing: content-box;
}


/*for slide bar gap*/
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}

#sidebar .brand img{
	min-width: 60px;
	padding: 5px;
}



/*for left side icon, text, sidebar animation*/
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

/*text,icon color when clicking*/
#sidebar .side-menu.top li.active a {
	color: var(--sidebartxt);
}
/* hover */
#sidebar .side-menu.top li.active a:hover {
	color: var(--active);
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: white;
	white-space: nowrap;
	overflow-x: hidden;
}

#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}


#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}

#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu.top li a:hover {
	color: var(--dark-grey);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

/*logout*/
#sidebar .side-menu li a.logout {
	color: white;
}

/*logout*/
#sidebar .side-menu li a.logout:hover {
	color: var(--dark-grey);
}
/* **************************************************** */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}


/* TOPSIDE */
#content nav {
	height: 56px;
	background: var(--topsideboard);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--topsideboard);
}

/*message icon*/
#content nav a {
	color: var(--topside);
}

/*hamburger menu*/
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--topsearch);
}


/*top side alignement*/
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}


/* -------------------- */


/* HAMBURGER MENU */
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
/* -------------------- */


/* SEARCH */
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}

.form-input ::placeholder {
    color: var(--topside);
}

#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--topside);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--topsearch);
	color: var(--topsideboard);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
	transition: all .3 ease;
}
/****************************************/

/*DASHBOARD TEXT*/
#content nav .nav-link {
	font-size: 16px;
	color: var(--topside);
}


/*dark mode*/
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--topsearch);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* -------------------- */

/* name */
.name{
	color: var(--topside);
}



/* Dropdown button */
/* Style for the dropdown container */
.dropdown {
	position: relative;
	display: inline-block;
	padding: 10px;
  }
  
/* Style for the dropdown icon */
.dropdown-icon {
	font-size: 24px; /* Adjust the font size as needed */
	cursor: pointer;
	color: var(--topside);
	transform:rotate(-90deg);
	transition-duration: 0.3s;
}

.dropdown-icon.rotated {
	transform:rotate(0);
}

  /* Style for the dropdown content */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--dropdown);
	min-width: 150px;
	padding: 10px;
	box-shadow: 0 5px 4px var(--shadbox);
	z-index: 1;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
	right: 0;
	margin-top: 20px;
  }

  /* Style for the dropdown content links */
  .dropdown-content a {
	color: var(--topside);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }

  .dropdown-content a:hover{
	background-color: #00000030;
	color: var(--dropdown);
	text-align: center;
  }
/* -------------------- */
/* **************************************************** */


/* ***************** CENTER CONTENT ******************* */
/* POSITION TO CENTER */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* -------------------- */


/* CARDS POSITION */
/*************************************************************************************************/





/* MAIN CONTENT */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

/*CARDS TEXT*/
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dashtext);
}
/*************************************/


/*CARDS BOXES*/
#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	color:var(--dark);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*CARDS ICON COLOR*/
#content main .box-info li:nth-child(1) .bx {
	background: var(--grey);
	color: var(--dashcontent2);
	transition: all .3 ease;
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--dashcontent);
	color: var(--dashcontent2);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--dashcontent);
	color: var(--dashcontent2);
}
#content main .box-info li:nth-child(4) .bx {
	background: var(--dashcontent);
	color: var(--dashcontent2);
}
#content main .box-info li:nth-child(5) .bx {
	background: var(--dashcontent);
	color: var(--dashcontent2);
}
#content main .box-info li:nth-child(6) .bx {
	background: var(--dashcontent);
	color: var(--dashcontent2);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}
/*************************************************/
/* Theme Switcher CSS */

.theme-switcher {
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--theme);
    color: var(--theme1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.theme-switcher .text {
	padding-left: 5px;
    color: var(--theme1) !important;
}

.theme-switcher i {
	margin-bottom: 5px;
}

/* THEME OPTION */
.theme-options {
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	bottom: 50px;
	right: 25px;
}

.theme-options.active {
	display: flex;
	flex-direction: column; 
}

.theme-options li {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-bottom: 10px;
	cursor: pointer;
}

/* THEME COLOR ACTIVATE*/

/* Default Theme Black */
.theme-options li[data-theme="option1"] {
	background-color: #151515;	
	border:3px solid white;
}

/* Navy Blue Theme */
.theme-options li[data-theme="option2"] {
	background-color:#14299f;
	border:3px solid white;
}

/* Sakura Theme */
.theme-options li[data-theme="option3"] {
	background-color:#fc6db5;
	border:3px solid white;
}


/* add another option/color here if there is anything you want to add */
/* -------------------- */
/* **************************************************** */

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}

		/* color theme */
		.theme-switcher .text {
			display: none;
		}
		.theme-switcher {
			border-radius: 10px;
		}
		 .theme-switcher i {
			margin: auto;
		}
		.theme-options{
			right: 0;
		}
}

@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--theme);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .tabl table {
		min-width: 420px;
	}

	/* color theme */
	.theme-switcher .text {
        display: none;
    }
	.theme-switcher {
		border-radius: 10px;
	}
	 .theme-switcher i {
        margin: auto;
	}
}