@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	/* ---------- COLORS ---------- */
  --modalbtn:#000000;
  --modalbtn1:#ffffff;
  --modaldash:#000000;

  --modalclose:#000000;



  --modalform :#000000;
  --modalform1:#ffffff;

  --modalformbx :#ffffff;
  
  --modalshadow :#000000c9;
	/* ---------------------------- */
}

/* modal button */

  button[id*='openModalBtn']{
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color:var(--light);
    border: none;
    border-radius: 10px;
    color: var(--dark);
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  button#add-department,
  button#add-ccenter{
    width:100%;
    padding: 24px;
    font-size: 22px;
    cursor: pointer;
    background-color:white;
    border: none;
    border-radius: 10px;
    color: var(--blue);
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .head-title button:hover{
    color: black;
  }
  /************************************************************/

/*modal bg black shadow*/
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7) !important;
    z-index: 9999;
  }

  .import-form{
    display:none;
    width: 100%;
    position:relative;
  }
  /************************************************************/

  /*modal box content*/
  .modal-content {
    background-color: var(--grey);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 80%;
    z-index: 10000; 
  }

  .import-content{
    width:100%;
    margin:auto;
    border:2px blue dashed;
    padding:10px;
    margin-top:25px;
  }
  /************************************************************/

  /*modal x icon*/
  .close {
    color: var(--topside);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: #333; /* Change color on hover if desired */
  }
  /************************************************************/

  /* Form group */

  .form-group.assign-employee{
    overflow-y:auto;
    max-height:400px;
  }